apiVersion: v1
kind: Service
metadata:
  name: {{ include "node-doctor.serviceName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "node-doctor.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  {{- if .Values.service.clusterIP }}
  clusterIP: {{ .Values.service.clusterIP }}
  {{- end }}
  selector:
    {{- include "node-doctor.selectorLabels" . | nindent 4 }}
  ports:
  - name: http
    port: {{ .Values.service.httpPort }}
    targetPort: {{ .Values.service.httpPort }}
    protocol: TCP
  - name: metrics
    port: {{ .Values.service.metricsPort }}
    targetPort: {{ .Values.service.metricsPort }}
    protocol: TCP
